.page-header .panel.wrapper {
    background-color: white;
}

.page-header {
    background-color: white;
    color: black;
}

.page-footer {
    background-color: forestgreen;
}

.navigation {
    background: white;
}

.navigation .level0 > .level-top {
    color: black;
}

.top.search {
    display: flex;
}

.page-header .panel.wrapper .switcher strong, .page-footer .switcher strong {
    font-weight: 400;
    color: gray;
    font-size: 14px;
}

.header.panel > .header.links > li > a, .header.panel > .header.links > li, .header.panel > .header.links > li > a:hover {
    font-weight: 400;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.header.panel > .header.links > li > a, .header.panel > .header.links > li > a:any-link {
    font-weight: 400;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.logo img {
    max-height: inherit;
    margin-right: 50px;
}

.page-header .panel.wrapper > a {
    font-weight: 400;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.header.panel > li > a {
    font-weight: 400;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.some-container {
    background-color: #7bae23;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50px;
    padding-top: 10px;

    img {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}

.wrap {
    display: flex;

    a {
        color: white;
        text-decoration: none;
    }
}

.adds {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}


