.page-header .panel.wrapper {
    background-color: white;
}

.page-header {
    background-color: white;
    color: black;
    border: 0;
    margin-bottom: 0;
}

.page-footer {
    background-color: #2c2c2f;
}

.navigation {
    background: white;
}

.navigation .level0 > .level-top {
    color: black;

}

.top.search {
    max-width: 200px;
}

.page-header .panel.wrapper .switcher strong, .page-footer .switcher strong {
    font-weight: 400;
    color: gray;
    font-size: 14px;
}

.header.panel > .header.links > li > a, .header.panel > .header.links > li, .header.panel > .header.links > li > a:hover {
    font-weight: 400;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.header.panel > .header.links > li > a, .header.panel > .header.links > li > a:any-link {
    font-weight: 400;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.logo {
    max-height: inherit;
    margin-top: 5px;
}

.page-header .panel.wrapper > a {
    font-weight: 400;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.header.panel > li > a {
    font-weight: 400;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.some-container {
    background-color: #7bae23;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50px;
    padding-top: 10px;
    max-width: 100%;
    box-sizing: border-box;

    @media screen and(max-width: 768px) {
        display: none;
    }
}

.some-container2 {
    background-color: #7bae23;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 40px;
    padding: 10px;
    max-width: 100%;
    @media screen and(max-width: 760px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.instagram {
    background-color: #7bae23;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 40px;
    padding: 10px;
    max-width: 100%;
}

.wrap {
    display: flex;

    a {
        color: white;
        text-decoration: none;
    }
}

.adds {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
    border-color: #7bae23;
    border-style: solid;
    border-width: 0 0 3px;
    color: #333;
    text-decoration: none;
    display: inline-block;
}

.action.primary {
    background: #7bae23 none;
    border: 1px solid #7bae23;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
}

.minicart-wrapper .action.showcart .counter.qty {
    background: #7bae23;
    color: #fff;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    display: inline-block;
    margin: 3px 0 0;
    min-width: 18px;
    overflow: hidden;
    padding: 0 3px;
    text-align: center;
    white-space: normal;
}

.page-footer .action.primary {
    background: #669c07 none;
    border: 1px solid #669c07;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 1.8rem;
    box-sizing: border-box;
    vertical-align: middle;
}

.block.newsletter {
    max-width: 44%;
    width: max-content;
    border-radius: 5px;
    margin-top: 30px;
}

.block.newsletter .form.subscribe {
    display: table;
    width: 100%;
    border-radius: 5px;
}

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type*="date"], input[type="email"] {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.428571429;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}

.subr {
    display: flex;
}

.subr2 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center;

    h3 {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 700;
    }
}

.copyright {
    background-color: #2c2c2f;
    color: #fff;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: left;
    @media screen and(max-width: 760px) {
        text-align: center;
    }
}

.footer.content .links li a:hover {
    color: #669c07 !important;
    text-decoration: none;
}

.footer.content .links li a {
    color: white !important;
    text-decoration: none;
    margin-left: 10px;
    @media screen and(max-width: 760px) {
        color: #669c07 !important;
    }
}

.footer-contacts {
    margin-left: 50px;
    @media screen and(max-width: 760px) {
        display: block;
        text-align: center;
    }
}

.footer.content .links li {
    color: white;
    border: none;
    font-size: 14px;
    margin: 0 0 8px;
    padding: 0;
    @media screen and(max-width: 760px) {
        color: #669c07 !important;
    }
}

.footer.content h4 {
    color: white;
    margin-bottom: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: right;
    @media screen and(max-width: 760px) {
        justify-content: center;
        align-items: center;
    }

    img {
        margin: 10px;
    }
}

.header.content {
    padding: 0;
}

.header.content {
    padding: 30px 20px 0;
}

.block-search {
    margin-bottom: 10px;
}

.navigation ul {
    text-align: center;
}

.navigation ul li {
    padding-bottom: 10px;
    display: inline;
    text-align: center;
}

.navigation, .nav-sections-item-content {
    background-color: white;
    font-weight: 600;
}

.footer.content {
    display: block;
    @media screen and(max-width: 760px) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}



